*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box
{
    background-color: rgb(55, 54, 54);
    padding:1.4vw ;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    border-radius: 5px;
    
}

.box h1
{
    text-align: center;
    color: white;
}

.box .box-1{
    display: flex;
    gap: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.box-1 #task-list{
    padding: 1vh;
    background-color: rgb(36, 36, 36);
    outline: none;
    border: none;
    border-radius:5px ;
    color: white;
}

.box-1 .button
{
    padding: 1vh;
    /* background: linear-gradient(purple, #2130d0); */
    background-color: rgb(104, 34, 233);
    border: none;
    color: white;
}

.box list-items
{
     border-radius: 5px;
     list-style: none;
    
}
.box ul li
{ 
     background-color: rgb(36, 36, 36);

     padding: 1vh;
    color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 2vh;
     border-radius: 5px;
}

.box ul .Delete
{
    background-color: red;
    padding: 0.8vh;
    border: none;
    border-radius: 5px;
    color: white;
}